* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  background-color: red;
  color: white;
  font-size: large;
}
ul {
  background-color: yellow;
}
